

<nav class="navbar navbar-expand-lg navbar-dark  " style="background-color: rgba(0, 0, 0, 0.6);">
    <a class="navbar-brand" href="/">Roniels Blog Site</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarText">
      <ul class="navbar-nav ">

        <li class="nav-item ">
          <a class="nav-link" href="/users/about"><strong>About us</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/about"><strong>Contact us</strong></a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="/users/login"><strong>Login</strong></a>
        </li>

      </ul>
    </div>
  </nav>
