body {
    background: linear-gradient(to bottom, #33ccff 0%, #c2bcd1 100%);
    height: 100%;
    background-repeat: no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    -moz-background-size: cover;
    background-position: absolute;  
}

#btnLogin:hover{
    background-color: green;
}
.aregister:hover{
    color: green;
}

/* dashboard welcome */
  @font-face {
    src:url('/font/welcome.ttf');
    font-family: welcome;
  }
  nav .navbar-brand{
    font-family: welcome;
    font-size: 25px;
  }


/*NAV BAR*/
/*responsive css*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-caption {
		padding-bottom: 25px;
	}
	.carousel-caption h2 {
		font-size: 50px;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-collapse {
		background: rgba(0, 0, 0, 0.5);

	}
}





