.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

.wrapper{
  background-image: url('/image/1.5.jpg');     

background-position:center center;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
z-index:4;
}
.wrapper h1{
  color: rgb(8, 67, 156);
  font-weight: bolder;
}

.wrapper p{
  color:  black;
}